<div class="row justify-content-center">
  <div class="col">
    <%= form_with url: legends_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Chercher un objet legend..."
        %>
      <button type="submit" class="search-button">
        <i class="fas fa-search"></i>
      </button>
    <% end %>
  </div>
</div>


