// j'ai utlisé le kitt UI du wagon btn, il faut completer avec HTML et ERB
// il doit etre adapté a lendroit ou on doit le mettre

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: #ffd166;
  transition: background 0.3s ease;
  border: 1px solid #ffd166;
  width: 161px;
}

.btn-gradient:hover {
  background: #ffd166;
  color: white;
}

.btn-delete-dashboard {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  /* margin-right: 20px; */
  width: -moz-fit-content;
  width: fit-content;
  align-self: end;
  margin-left: 95%;

  a {
    text-decoration: none;
    color: black;
  }
}


a {
  text-decoration: none;
  .btn-home {
    color: #ffd166;
    margin-top: 10px;
  }
}
