.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  width: 100%;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-left {
  width: 300px;
    .icon-home {
      display: flex;
      align-items: center;
      justify-content: start;
    }
}

.navbar-middle h2 {
  margin-bottom: 0;
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  font-style: normal;
  box-shadow: 0 0 15px #ffc65a;
  }
.navbar-right {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.put-on-rent {
  padding:4px 8px;
  &:hover {
    background-color: #ffc65a;
    color: white;
  }
}

.put-on-rent a {
    text-decoration: none;
    color: #ffc65a;
    font-size: 18px;
  }

  .fa-solid {
    color: #ffc65a;
  }

  .home-button {
    font-size: 30px;
  }
