<ul>
  <% @legends.each do |legend| %>
    <li>
      <%= link_to legend.name, legend_path(legend) %>
    </li>
    <li><%= legend.category %></li>
    <li><%= legend.description %></li>
    <li><%= legend.price %></li>
  <% end %>
</ul>
